%navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  %div#logo
    %a.navbar-brand{:href => "/"}
      = image_tag("skewr.png", height: '50')
