%nav.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %a.navbar-brand{:href => "/"} WhatToBring
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      - if false
        %li= link_to "Create Event"
        %li= link_to "All Events"
