%section.site_title
  .row
    .col-md-7.col-md-offset-1
      %h2 A better way to coordinate
      %h1 What To Bring
    .col-md-3.special_button
      %h2= link_to 'Get started'
  #faq.container
    .row
      .col-md-3.question_bubble
        .circle
          = image_tag "bbq.png"
        .text_bubble
          %h3 Why WhatToBring?
      .col-md-3.col-md-offset-1.question_bubble
        .circle
          = image_tag "hotdog.png"
        .text_bubble
          %h3 Curabitur mi massa?
      .col-md-3.col-md-offset-1.question_bubble
        .circle
          = image_tag "wine.png"
        .text_bubble
          %h3 Quisque sit amet?
