%section.site_title
  .faq.container
    .row
      .col-md-7.col-md-offset-1.question_bubble
        .text_bubble
          %h3 Awesome video goes here
      .col-md-3.special_button
        %h2= link_to 'Get started', new_event_path
        
