%section.site_title
  .faq
    .row.video_section.photo-background
      .col-md-7.col-md-offset-1.video_bubble
        .text_bubble
          %h3 Awesome video goes here
      .col-md-3.special_button
        %h2= link_to 'Get started', new_event_path
    .row.video_section.slate-background
      .col-md-7
        %h3 More content could go here
