section.show_event
  background-color: rgba(255, 255, 255, 0.8)
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4)
  border-radius: 3px
  color: black

  padding: 50px 115px
  margin: 30px
  margin-bottom: 10px
  h1
    font-size: 5em
    margin-bottom: 30px
  p.sign_up
    font-size: 24px
    margin-bottom: 30px

.btn-primary
  background-color: rgba(213, 41, 34, 1.0)
  border-color: rgba(213, 41, 34, 1.0)

.item_trash
  background-color: lightgrey
  border-radius: 3px
  height: 60px
  width: 60px
  .glyphicon
    padding-top: 15px
    font-size: 2em

.hidden
  visibility: hidden

.claim_square
  background-color: #DBCE9C
  border: 2px solid #B6A358
  height: 50px
  width: 200px
  border-radius: 3px
  padding: 5px
  margin: 5px

.unclaim_square
  background-color: #DBCE9C
  border: 2px solid #B6A358
  min-height: 200px
  width: 200px
  border-radius: 3px
  padding: 5px
  margin: 5px

span
  cursor: pointer
  cursor: hand

.over
  border: solid 5px rgba(213, 41, 34, 0.5)


span.label
  margin-right: 2px
  background-color: rgba(213, 41, 34, 1.0)
