section.confirmation_page
  background-color: rgba(255, 255, 255, 0.6)
  color: black
  font-family: Cabin
  width: 60%
  min-width: 600px
  padding: 100px 115px
  margin: 0px auto 400px auto
  border-radius: 15px
  h1
    font-size: 5em
    margin-bottom: 30px
  p.sign_up
    font-size: 24px
    margin-bottom: 30px
