/* typography */
$font-family-sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif
//$font-family-base: 'Source Sans Pro'

@import 'bootstrap'

html
  height: 100%

body
  min-height: 100%

.picnic-background
  margin: 0px
  height: 100%
  width: 100%
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%)
  background-size: 200px 200px

.photo-background
  $header-img: image-url('grill_image.jpg')
  background: $header-img no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-color: grey

.photo-background-grayscale
  background-attachment: fixed
  height: 100%
  width: 100%
  padding-top: 80px
  $header-img: image-url('grill_image_grayscale.jpg')
  background: $header-img no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-color: grey

.slate-background
  background-size: cover
  //background-color: rgb(149, 169, 198)
  background-color: rgba(171, 205, 139, 0.4)

a
  color: #AE1D00
