/* typography */
$font-family-sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif
//$font-family-base: 'Source Sans Pro'

@import 'bootstrap'

body

  margin-top: 70px
  background-color: #E1E1E1
  a
    color: #AE1D00
