navbar.navbar-fixed-top.navbar-inverse
  background-color: rgba(255, 255, 255, 0.7)
  #logo
    margin: 0 auto
    width: 200px
    .navbar-brand
      padding: 5px
      img
        height: 40px

.video_section
  padding-top: 150px
  padding-bottom: 160px
  height: 100%

ul.nav.nav-pills li.active a
  background-color: green

.top_padded
  padding-top: 100px

.content
  height: 100%
  padding-top: 0px

.container-extras
  margin: 0px
  padding: 0px
  width: 100%
  height: 100%

.clear
  clear: both


section.site_title
  height: 100%
  color: black
  h1
    font-size: 5em
    margin-bottom: 30px
  p.sign_up
    font-size: 24px
    margin-bottom: 30px
  .special_button
    a
      text-decoration: none
      border-radius: 40px
      color: white
      background-color: rgb(180, 40, 48)
      border: 3px solid rgba(255, 255, 255, 0.7)
      padding: 15px 30px
      font-size: 0.7em
      &:hover, &:focus
        border: 5px solid rgb(180, 40, 48)
    margin-top: 100px
  div.faq
    text-align: center
    color: #888
    line-height: 20px
    font-weight: 500
    font-size: 14px
    .video_bubble 
      padding: 10px
      margin-right: 5px
      background-color: rgba(255,255,255,0.5)
      border-radius: 15px
      color: black

      .text_bubble 
        padding: 100px
        padding-bottom: 150px



