navbar.navbar-fixed-top.navbar-inverse
  background-color: black
  .row
    ul.nav.navbar-nav
      width: 100%
      li
        a.navbar-brand

section.site_title
  min-height: 800px
  $header-img: image-url('tarts.jpg')
  background: $header-img no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-color: #B6A358
  color: black
  font-family: Source Sans Pro
  padding: 30px 0px
  h1
    font-family: Source Sans Pro
    font-size: 5em
    margin-bottom: 30px
  p.sign_up
    font-size: 24px
    margin-bottom: 30px
  .special_button
    a
      text-decoration: none
      border-radius: 40px
      color: white
      background-color: rgba(213, 41, 34, 1.0)
      padding: 15px 30px
      font-family: Source Sans Pro
      font-size: 0.7em
      &:hover, &:focus
        box-shadow: 0 0 0 2px #B6A358, 0 0 0 3px rgba(213, 41, 34, 1.0)
    margin-top: 100px
  div.faq
    margin-top: 80px
    margin-bottom: 50px
    text-align: center
    color: #888
    line-height: 20px
    font-weight: 500
    font-size: 14px
    .question_bubble 
      padding: 20px
      margin-right: 5px
      background-color: rgba(255,255,255,0.4)
      border-radius: 15px
      color: white
      .circle 
        height: 100px
        width: 100px
        border-radius: 100%
        display: inline-block
        text-align: center
        margin-bottom: 3px
        margin-right: 10px
        border: 2px solid grey
        background-color: rgba(255,255,255,0.8)
        color: #CFAC43
        img
          color: white
          width: 90px
          line-height: 100px
      .text_bubble 
        background-color: rgba(255,255,255,0.8)
        border-radius: 5px
        color: black
        padding: 100px
        padding-bottom: 150px
        h3
          font-family: Source Sans Pro



